.search-center {
    max-width: 983px;
    margin: auto;
    text-align: center;
}
#btn-go {
    border-radius: 0px;
    background-color: #24add3;
    border: none;
}
#cal {
    border: 1.5px solid rgb(25, 26, 24);
    background-color: white;
    color: black;
    width: auto;
    margin-right: 8px;
}