.customButton {
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0px;
    letter-spacing: 0.5px;
    background-color: white;
    color: black;
    border: 1.5px solid rgb(25, 26, 24);
    cursor: pointer;
}
.alignButtons {
    align-items: center;
    display: flex;
    text-align: center;
    align-self: center;
}
.active{
    color: white;
    background-color: rgb(25, 26, 24);
}

.search-center {
    max-width: 983px;
    margin: auto;
    text-align: center;
}

#cal {
    border: 1.5px solid rgb(25, 26, 24);
    background-color: white;
    color: black;
    width: auto;
    margin-right: 8px;
    height: auto;
}
