.dropdownButton{
    margin: auto;
    padding-right: 2px;
    border-radius: 5px;
}

/* Ensure vertical alignment synced with catalogButtons */
.react-datepicker-wrapper {
    margin: auto
}

.customButton.customButton {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1.5px solid rgba(24, 24, 24, 0.195);
    cursor: pointer;
    font-size: 14px;
    padding: 7.5px 2px;
}

.customButton:hover.customButton {
    background-color: rgb(234, 231, 231);
    color: black;
}

.customButton:focus.customButton{
    outline-style: none;
    box-shadow: none;
}

.activeCatalog{
    background-color: #e6e6e6 !important;
    box-shadow: inset 1px -1px 5px rgb(0 0 0 / 13%) !important;
    border-color: #adadad !important;
}

.alignMobileButtons {
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}

.alignDesktopButtons {
    display: flex;
}

#desktopAlignment {
    display: flex;
}

.dropdown-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    display: block;
}

.dropdown-item:hover {
    text-decoration-line: none;
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}
