.beigeBackground {
  background-color: #DEDEDE;
}

#logo {
  display: block;
  max-width:200px;
  margin: 20px auto;
}
#title > img {
  max-width: 200px;
}

#calendarLogo {
  max-width: 20px;
  column-gap: 10px;
}
#searchResults {
  padding-left: 0;
  padding-right: 0;
}
#main {
  margin-top: 15px;
}

#arrow-rotate {
  transform: rotate(180deg);
}
