.beigeBackground {
  background-color: #DEDEDE;
}

#logo {
  display: block;
  max-width:200px;
  margin: 20px auto;
}
#title > img {
  max-width: 200px;
}
.App {
  width: 1140px;
  margin: auto;
}
#calendarLogo {
  max-width: 20px;
  column-gap: 10px;
}
.col-auto, .col {
  padding: 0 !important;
}
