.header {
    width: 100%;
    top: 1%;
    padding: 10px;
}

.language-selection{
    text-align: right;
}

.language-btn{
    background-color: transparent;
    border-color: transparent;
    position: relative;
}

.language-btn:hover{
    color:#24add3;
    text-decoration: underline;
}
